.cardlisttitle-section {
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
  width: 1060px;
}

.cardlisttitle {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.cardlisttitle-option {
  display: flex;
  gap: 12px;
}

.cardlisttitle-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--linkbrary-gray-60, #9fa6b2);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardlisttitle-btn-icon {
  width: 18px;
  height: 18px;
}
